.projects__page {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-behavior: smooth;
  flex: 1;
  margin-left: 10%;
}

.all__projects {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-behavior: smooth;
  flex: 1;
}

.projects__title
{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: calc(2rem + 2vmin);
  min-height: 200px;
}