.home__header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-behavior: smooth;
}

.home__item
{
  margin-bottom: 1rem;
}

.home__title {
  font-weight: bold;
  font-size: calc(1.5rem + 2vmin);
}

.home__subtitle {
  font-weight: normal;
  font-size: calc(10px + 2vmin);
  animation: 2s appear;
  animation-fill-mode: forwards;
}

.fullstack {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #426eff, #b10032);
  background-size: 100%;
  font-weight: bold;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.react {
  color: #61DAFB;
}

.btn-discover {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}

.btn-discover {
  animation: 3s appear;
  animation-fill-mode: forwards;
  border: none;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
  outline: none;
  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    outline: none;
  }
  &:active {
    box-shadow: inset 0px 0px 5px 2px black;
  }
}

.link {
  text-decoration: none;
}

.medias__list
{
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.social-media {
  color: gray;
  transition: 1s;


  &:hover {
    transition: 0.25s;
    color: #61DAFB;
  }
}

.linkedin
{
  opacity: 0%;
  animation: appear 4s;
  animation-fill-mode: forwards;
}

.github
{
  opacity: 0%;
  animation: appear 5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}