.notfound {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &__title {
    font-size: 4rem;
  }

  &__content {
    font-style: italic;
  }
}
