html {
  font-size: 16px;
}

.App {
  background-color: #282c34;
  scroll-behavior: smooth;
  font-family: monospace;
  display: flex;
}

// Paramètres de modification de la scrollbar
// ===========================================
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100vh;
}
::-webkit-scrollbar-thumb {
  background: #1e89a4;
  border: 0px none #ffffff;
  border-radius: 33px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e89a4;
}
::-webkit-scrollbar-thumb:active {
  background: #1e89a4;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 20px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
// ===========================================