@media (min-width: 801px) {
  .skills__page {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    scroll-behavior: smooth;
    flex: 1;
    margin-left: 10%;
  }

  .skills__title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .skills__container {
    display: flex;
    flex-flow: column wrap;
  }

  .skills__category {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3rem;
  }

  .skills__category--title {
    font-weight: bold;
  }

  .skills__category--header {
    text-align: center;
    width: 250px;
    align-self: center;
  }

  .skills__category--list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-left : 1px solid white;
    margin-left: 1rem;
    padding-left: 1rem;
  }
}
