@media (max-width: 600px) {
  .about__page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    scroll-behavior: smooth;
    flex: 1;
  }

  .about__title {
    margin: 0 1rem;
    font-weight: bold;
    font-size: calc(2rem + 2vmin);
  }

  .about__content {
    margin: 0 1rem;
    text-align: justify;
    animation-fill-mode: forwards;
  }

  .image__container {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 100%;
  }

  .picture-profile {
    height: 200px;
    width: 200px;
  }
}
