.project__card {
  position: relative;
  background-color: rgb(92, 92, 92);
  min-width: 250px;
  max-width: 300px;
  min-height: 250px;
  max-height: 300px;
  margin: 1% 1% 0 0;
  overflow: hidden;
}

.project__image {
  width: 100%;
  height: 100%;
}

.project__title
{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem
}

.project__desc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  visibility: hidden;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px gray;
  height: 100%;
  width: 100%;
}

.project__card:hover .project__desc{
  visibility: visible;
  animation: appearhover 0.5s ease-in-out;
}

.btn-toproject {
  margin-top: 1rem;
  color: gray;
  display: inline;
  width: 2rem;

  &:hover
  {
    color: #61DAFB;
    transition: 0.25s;
  }
}

@keyframes appearhover {
  0% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}