.header
{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  color: white;
  padding: 0.5rem 1rem 0;

  &__logo
  {
    width: 44px;
    height: auto;
  }

  &__link
  {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
}

.links
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}