.header
{
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
  padding: 0.3rem;
  background-color: #1f2229;

  &__logo
  {
    width: 44px;
    height: auto;
  }

  &__link
  {
    color: white;
    text-decoration: none;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: gray;
    transition: 1s;
    &:hover {
      transition: 0.25s;
      color: #61DAFB;
    }
  }
}

.links
{
  display: flex;
  flex-flow: column nowrap;
}

.active {
  color: #61DAFB;
}

.social-media {
  color: gray;
  transition: 1s;
  margin: 1rem 0;


  &:hover {
    transition: 0.25s;
    color: #61DAFB;
  }
}